* {
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 100%;
  font-family: Verdana, "Noto Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.75;
}

body {
  background-color: #ddd;
}

main {
  padding: 1rem;
  background-color: #fff;
}

main > *:first-child {
  margin-top: 0;
}

main > *:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 24px;
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: 18px;
  margin: 2rem 0 1rem 0;
}

hr,
p,
pre,
ol,
table,
ul {
  margin: 1rem 0;
}

li > ol,
li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  word-break: break-all;
}

pre,
code {
  font-family: Menlo, monospace;
}

pre {
  padding: 1em;
  font-size: 0.8rem;
  background: rgb(46, 52, 64);
  overflow-x: auto;
}

pre > code {
  color: #d8dee9;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 2px 4px;
  border: 1px solid #000;
}

blockquote {
  border-left: 2px solid rgba(0, 0, 0, 0.54);
  margin: 1rem;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.title {
  border-bottom: 1px solid #000;
}

.list-item {
  font-size: 0.8rem;
}

.metadata {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
  font-family: Menlo, monospace;
}

.body h1 {
  font-size: 18px;
  margin: 2rem 0 1.5rem 0;
}

.body h2 {
  font-size: 16px;
  margin: 2rem 0 1.5rem 0;
}

.body hr,
.body p,
.body pre,
.body ol,
.body table,
.body ul {
  margin: 1.5rem 0;
}

.body img {
  display: block;
  margin: 0 auto;
}

.body figcaption {
  color:rgba(0, 0, 0, 0.54);
  text-align: center;
}

.footer-links {
  text-align: center;
}

ul.footer-links {
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline;
}

@media (max-width: 36rem) {
  main {
    min-height: 100vh;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  body img {
    width: 200px;
  }
}

@media (min-width: 36rem) {
  main {
    width: 36rem;
    margin: 2rem auto;
    border: 1px solid #000;
  }

  ol,
  ul {
    padding-left: 1.5rem;
  }

  body img {
    width: 300px;
  }
}
