<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMLテンプレートをpackrでバイナリに埋め込む</title>
    <link href="/normalize.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="/highlight.css" rel="stylesheet">
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <meta property="og:title" content="HTMLテンプレートをpackrでバイナリに埋め込む">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.naoty.dev/340/">
    <meta property="og:image" content="https://blog.naoty.dev/icon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@naoty_k">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
  </head>
  <body>
    <main>
      <article>
        <header>
          <h1 class="title mt-0">HTMLテンプレートをpackrでバイナリに埋め込む</h1>
          <p class="metadata">
            <time datetime="2018-07-29T17:55:00.000+0900">2018-07-29 17:55</time>
            <a href="/go/">#go</a>
          </p>
        </header>
        <section class="body">
          <p>最近、GoでWebアプリケーションを書く練習をしている。フレームワークとしてEchoを使っている。</p>
<p>アセットをバイナリに埋め込むときいくつか選択肢があったけど、HTMLテンプレートのパースを実装しやすそうな<a href="https://github.com/gobuffalo/packr">packr</a>を使ってみている。</p>
<p>以下のようなテンプレートを用意する。</p>
<pre lang="html" class="highlight highlight-html">{{/* assets/views/layout.html */}}
{{define "layout" -}}


  
    
    Task
  
  
    {{template "content" . -}}
  

{{end}}
</pre>
<pre lang="html" class="highlight highlight-html">{{/* assets/views/index.html */}}
{{define "index" -}}
Here is content!
{{end}}
</pre>
<p>これらのテンプレートは以下のコマンドでバイナリに埋め込むことができる。</p>
<pre><code>$ packr build
</code></pre>
<p>次に、EchoでHTMLをレンダリングするためのRendererを実装する。</p>
<pre lang="go" class="highlight highlight-go"><span class="c">// renderer/renderer.go</span>

<span class="c">// Renderer is html/template renderer for Echo.</span>
<span class="k">type</span> <span class="n">Renderer</span> <span class="k">struct</span> <span class="p">{</span>
	<span class="n">templates</span> <span class="o">*</span><span class="n">template</span><span class="o">.</span><span class="n">Template</span>
<span class="p">}</span>

<span class="c">// New parses templates in box and return a new Renderer.</span>
<span class="k">func</span> <span class="n">New</span><span class="p">(</span><span class="n">box</span> <span class="n">packr</span><span class="o">.</span><span class="n">Box</span><span class="p">)</span> <span class="o">*</span><span class="n">Renderer</span> <span class="p">{</span>
	<span class="n">templates</span> <span class="o">:=</span> <span class="n">template</span><span class="o">.</span><span class="n">New</span><span class="p">(</span><span class="s">"templates"</span><span class="p">)</span>

	<span class="k">for</span> <span class="n">_</span><span class="p">,</span> <span class="n">name</span> <span class="o">:=</span> <span class="k">range</span> <span class="n">box</span><span class="o">.</span><span class="n">List</span><span class="p">()</span> <span class="p">{</span>
		<span class="n">text</span> <span class="o">:=</span> <span class="n">box</span><span class="o">.</span><span class="n">String</span><span class="p">(</span><span class="n">name</span><span class="p">)</span>
		<span class="n">templates</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">Must</span><span class="p">(</span><span class="n">templates</span><span class="o">.</span><span class="n">Parse</span><span class="p">(</span><span class="n">text</span><span class="p">))</span>
	<span class="p">}</span>

	<span class="k">return</span> <span class="o">&amp;</span><span class="n">Renderer</span><span class="p">{</span><span class="n">templates</span><span class="o">:</span> <span class="n">templates</span><span class="p">}</span>
<span class="p">}</span>

<span class="c">// Render renders HTML generated by template.</span>
<span class="k">func</span> <span class="p">(</span><span class="n">r</span> <span class="o">*</span><span class="n">Renderer</span><span class="p">)</span> <span class="n">Render</span><span class="p">(</span><span class="n">wr</span> <span class="n">io</span><span class="o">.</span><span class="n">Writer</span><span class="p">,</span> <span class="n">name</span> <span class="kt">string</span><span class="p">,</span> <span class="n">data</span> <span class="k">interface</span><span class="p">{},</span> <span class="n">c</span> <span class="n">echo</span><span class="o">.</span><span class="n">Context</span><span class="p">)</span> <span class="kt">error</span> <span class="p">{</span>
	<span class="n">layout</span> <span class="o">:=</span> <span class="n">template</span><span class="o">.</span><span class="n">Must</span><span class="p">(</span><span class="n">r</span><span class="o">.</span><span class="n">templates</span><span class="o">.</span><span class="n">Lookup</span><span class="p">(</span><span class="s">"layout"</span><span class="p">)</span><span class="o">.</span><span class="n">Clone</span><span class="p">())</span>
	<span class="n">content</span> <span class="o">:=</span> <span class="n">template</span><span class="o">.</span><span class="n">Must</span><span class="p">(</span><span class="n">r</span><span class="o">.</span><span class="n">templates</span><span class="o">.</span><span class="n">Lookup</span><span class="p">(</span><span class="n">name</span><span class="p">)</span><span class="o">.</span><span class="n">Clone</span><span class="p">())</span>
	<span class="n">html</span> <span class="o">:=</span> <span class="n">template</span><span class="o">.</span><span class="n">Must</span><span class="p">(</span><span class="n">layout</span><span class="o">.</span><span class="n">AddParseTree</span><span class="p">(</span><span class="s">"content"</span><span class="p">,</span> <span class="n">content</span><span class="o">.</span><span class="n">Tree</span><span class="p">))</span>

	<span class="k">return</span> <span class="n">html</span><span class="o">.</span><span class="n">ExecuteTemplate</span><span class="p">(</span><span class="n">wr</span><span class="p">,</span> <span class="s">"layout"</span><span class="p">,</span> <span class="n">data</span><span class="p">)</span>
<span class="p">}</span>
</pre>
<p><code>packr</code>コマンドでバイナリに埋め込んだアセットは<code>box.String(filename)</code>のように取得できる。これを使ってテンプレートをパースしていく。</p>
<p>Rendererを初期化するときにテンプレートをすべてパースしておいて、レンダリング時にネストしたテンプレートを組み立てて<code>Execute</code>するようにしている。</p>
<p>最後に、このRendererを初期化してEchoに設定する。</p>
<pre lang="go" class="highlight highlight-go"><span class="c">// main.go</span>

<span class="n">e</span> <span class="o">:=</span> <span class="n">echo</span><span class="o">.</span><span class="n">New</span><span class="p">()</span>

<span class="n">viewsBox</span> <span class="o">:=</span> <span class="n">packr</span><span class="o">.</span><span class="n">NewBox</span><span class="p">(</span><span class="s">"./assets/views"</span><span class="p">)</span>
<span class="n">e</span><span class="o">.</span><span class="n">Renderer</span> <span class="o">=</span> <span class="n">renderer</span><span class="o">.</span><span class="n">New</span><span class="p">(</span><span class="n">viewsBox</span><span class="p">)</span>
</pre>
        </section>
        <footer>
          <nav>
            <ul class="footer-links mb-0">
              <li><a href="/">Posts</a></li>
            </ul>
          </nav>
        </footer>
      </article>
    </main>
  </body>
</html>
